---
import { Icon } from 'astro-icon/components';
import { contactInfo } from '@/content/cv/ContactInfo.ts';
---

<h2>Контактная информация</h2>

<div class='contact-info'>
    {
        contactInfo
            .filter((entry) => !entry.hidden)
            .map((entry) =>
                <div class:list={['entry', { important: entry.important }]}>
                    <span class='title'>
                        { entry.icon && <Icon name={ entry.icon } /> }
                        { entry.title }:
                    </span>
                    <span class='value'>
                        { entry.link
                            ? <a href={ entry.link }>{ entry.value }</a>
                            : entry.value }
                    </span>
                </div>
    )}
</div>

<style>
.contact-info {
    display: grid;

    @media (width > 40em) {
        grid-template-columns: repeat(2, 1fr);
    }

    column-gap: 1em;
}

.important {
    grid-column: 1 / -1;
}

.title {
    color: var(--secondary-color);

    display: inline-flex;
    align-items: baseline;
    column-gap: 0.5em;
}

[data-icon] {
    font-size: 1.2em;
    align-self: center;
}

.value {
    font-variant: lining-nums;
}

</style>

