---
import { Icon } from "astro-icon/components";
import { contactInfo } from "@/content/cv/info.ts";
---

<h2 class="no-print">Контактная информация</h2>

<address>
    {
        contactInfo
            .filter((entry) => !entry.hidden)
            .map((entry) => (
                <div class:list={["entry", { important: entry.important }]}>
                    <span class="title">
                        {entry.icon && <Icon name={entry.icon} aria-hidden="true" />}
                        {entry.title}:
                    </span>
                    <span class="value">
                        {entry.link ? <a href={entry.link}>{entry.value}</a> : entry.value}
                    </span>
                </div>
            ))
    }
</address>

<style>
    address {
        display: grid;
        column-gap: 1em;
        font-style: normal;

        @media (width > 40em) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .important {
        grid-column: 1 / -1;
    }

    .title {
        display: inline-flex;
        align-items: baseline;
        color: var(--secondary-color);
        column-gap: 0.5em;
    }

    [data-icon] {
        align-self: center;
        font-size: 1.2em;
    }

    .value {
        font-variant: lining-nums;
    }
</style>
