---
import { Icon } from 'astro-icon/components';
import { contactInfo } from './ContactInfo.ts';
---

<h2>Контактная информация</h2>

<div>
    {
        contactInfo
            .filter((entry) => !entry.hidden)
            .map((entry) =>
                <div class='entry'>
                    { entry.icon && <Icon name={ entry.icon } desc={ entry.hint }></Icon> }
                    { entry.link
                        ? <a href={ entry.link }>{ entry.value }</a>
                        : entry.value }
                </div>
    )}
</div>

<style>
.entry {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}

[data-icon] {
    font-size: 1.2em;
    color: var(--text-secondary);
}
</style>
