---
import { getCollection } from "astro:content";

const educationCollection = (await getCollection('education'))
    .sort((a, b) => b.data.start.getTime() - a.data.start.getTime());
const dateOptions: Intl.DateTimeFormatOptions = {
    year: "numeric",
};
---

<h2>Образование</h2>

<ul>
    {educationCollection.map((education) => {
        return (
            <li>
                <header>
                    <h3>{ education.data.place }</h3>
                </header>
                <p>{ education.data.specialization }, { education.data.degree }</p>
                <p class="period">
                    { education.data.start.toLocaleDateString('ru-RU', dateOptions) }&ndash;{ education.data.end.toLocaleDateString('ru-RU', dateOptions) }
                </p>
            </li>
        )
    })}
</ul>

<style>
@import 'places.css';

header {
    flex: 0 0 100%;
}

li {
    display: flex;
    column-gap: 0.5em;
    flex-wrap: wrap;
}
</style>

