---
import { getCollection, render } from "astro:content";

const jobsCollection = await getCollection('jobs');
const jobs = await Promise.all(jobsCollection
    .sort((a, b) => b.data.start.localeCompare(a.data.start))
    .map(async (job) => ({ frontmatter: job.data, content: await render(job) })))
---

<h2>Опыт работы</h2>

<ul>
    {jobs.map((job) => {
        const Content = job.content.Content;
        return (
            <li>
                <header>
                    <h3>{ job.frontmatter.place }</h3>
                    <p>{ job.frontmatter.position }</p>
                    <p>{ job.frontmatter.start } to { job.frontmatter.end }</p>
                </header>
                <p>{ job.frontmatter.stack }</p>
                <Content />
            </li>
        )
    })}
</ul>

