---
import { getCollection, render } from "astro:content";

const jobsCollection = await getCollection('jobs');
const jobs = await Promise.all(jobsCollection
    .sort((a, b) => b.data.start.getTime() - a.data.start.getTime())
    .map(async (job) => ({ frontmatter: job.data, content: await render(job) })));
const dateOptions: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
};
---

<h2>Опыт работы</h2>

<ul>
    {jobs.map((job) => {
        const Content = job.content.Content;
        return (
            <li>
                <header>
                    <h3>{ job.frontmatter.place }</h3>
                    <p>{ job.frontmatter.position }</p>
                    <p class="period">
                        { job.frontmatter.start.toLocaleDateString('ru-RU', dateOptions) }
                        &mdash;
                        { job.frontmatter.end.toLocaleDateString('ru-RU', dateOptions) }
                    </p>
                </header>
                <Content />
            </li>
        )
    })}
</ul>

<style>
header {
    display: flex;
    gap: 0.5em;
}

h3 {
    font-size: 1em;
}

h3::after {
    content: ",";
}

.period {
    color: var(--text-secondary);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.75em;
}
</style>

