---
import { getCollection, render } from "astro:content";

const jobsCollection = await getCollection('jobs');
const jobs = await Promise.all(jobsCollection
    .sort((a, b) => b.data.start.getTime() - a.data.start.getTime())
    .map(async (job) => ({ frontmatter: job.data, content: await render(job) })));
const dateOptions: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
};
---

<h2>Опыт работы</h2>

<ul>
    {jobs.map((job) => {
        const Content = job.content.Content;
        const dateStart = job.frontmatter.start
            .toLocaleDateString('ru-RU', dateOptions)
            .replace(/ г\./, '');
        const dateEnd = job.frontmatter.end
            .toLocaleDateString('ru-RU', dateOptions)
            .replace(/ г\./, '');
        return (
            <li>
                <header>
                    <h3>{ job.frontmatter.place },</h3>
                    <p>{ job.frontmatter.position }</p>
                    <p class="period">
                        { dateStart }&hairsp;&ndash;&hairsp;{ dateEnd }
                    </p>
                </header>
                <Content />
            </li>
        )
    })}
</ul>

<style>
@import 'places.css';

header {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5em;
}

ul {
    :global(ul) {
        list-style: disc;
        padding-left: 2em;

        :global(ul) {
            list-style: "▷ ";
            padding-left: 2em;
        }
    }
}
</style>

