h3 {
    font-family: var(--font-sans-serif);
    font-size: 1em;
    font-variant: small-caps;
    letter-spacing: 0.04em;
    font-feature-settings: "kern";
    text-rendering: optimizeLegibility;
}

.period {
    color: var(--secondary-color);

    @media screen {
        flex-basis: 100%;
    }
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.75em;
}

