h3 {
  font-family: var(--font-sans-serif);
  font-size: 1em;

  @media screen {
    font-feature-settings: "kern";
    font-variant: small-caps;
    letter-spacing: 0.04em;
    text-rendering: optimizelegibility;
  }

  @media print {
    font-weight: bold;
  }
}

.period {
  color: var(--secondary-color);

  @media screen {
    flex-basis: 100%;
  }
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 0.75em;
}

li:last-child {
  margin-bottom: 0;
}
