---
import { Icon } from 'astro-icon/components';
import Button from '@/components/Button.astro';

const cvDownloadPath = "/cv.pdf";
---

<div class="toolbox no-print">
    <a href={ cvDownloadPath } download>
        <Button>
            <Icon name="mdi:download" aria-hidden="true" />
            Скачать
        </Button>
    </a>
    <Button onclick="window.print()">
        <Icon name="mdi:printer" aria-hidden="true" />
        Печатать
    </Button>
    <Button id="share">
        <Icon name="mdi:share" aria-hidden="true" />
        Поделиться
    </Button>
</div>

<script define:vars={{ cvDownloadPath }}>
const shareButton = document.querySelector("#share");
shareButton.addEventListener("click", share);

function share() {
    navigator.share({
        url: cvDownloadPath,
        title: 'Резюме',
        text: 'Егоров Павел, frontend разработчик',
    });
}
</script>

<style>
.toolbox {
    padding-block: 1em;

    height: 5em;

    display: flex;
    gap: 0.5em;
}

a {
    display: flex;
    flex: 1;
}

[data-icon] {
    font-size: 2em;
}
</style>

