---
import { Icon } from 'astro-icon/components';
---

<div class="toolbox">
    <button class="theme">
        <Icon name="mdi:theme-light-dark" @click="toggleTheme" />
    </button>
    <button class="download">
        <Icon name="mdi:download" />
    </button>
</div>

<style>
.toolbox {
    position: fixed;
    inset: auto 3em 3em auto;

    background-color: var(--accent-color);

    display: flex;
    flex-direction: column;
}

button {
    width: 3em;
    height: 3em;

    border: none;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

[data-icon] {
    font-size: 2em;
}
</style>

