---
import { Icon } from 'astro-icon/components';
import Button from '@/components/Button.astro';
---

<div class="toolbox no-print">
    <a href="/cv.pdf" download>
        <Button>
            <Icon name="mdi:download" aria-hidden="true" />
            Скачать
        </Button>
    </a>
    <Button onclick="window.print()">
        <Icon name="mdi:printer" aria-hidden="true" />
        Печатать
    </Button>
    <Button>
        <Icon name="mdi:share" aria-hidden="true" />
        Поделиться
    </Button>
</div>

<style>
.toolbox {
    padding-block: 1em;

    height: 5em;

    display: flex;
    gap: 0.5em;
}

a {
    display: flex;
    flex: 1;
}

[data-icon] {
    font-size: 2em;
}
</style>

