---
import Button from "@/components/Button.astro";
---

<div class="toolbox no-print">
    <Button id="download" icon="mdi:download" large>Скачать</Button>
    <Button id="print" icon="mdi:printer" large onclick="window.print()">Напечатать</Button>
    <Button id="share" icon="mdi:share" large>Поделиться</Button>
</div>

<script>
    import download from "@/utils/download";
    import { cvShareInfo } from "@/content/cv/info.ts";

    document.querySelector("#share")?.addEventListener("click", () => navigator.share(cvShareInfo));
    const filename = "Егоров П. Frontend разработчик.pdf";

    document
        .querySelector("#download")
        ?.addEventListener("click", () => download("/generated/cv.pdf", filename));
</script>

<style>
    .toolbox {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-sm);
        padding-block: var(--space-md);
    }

    a {
        display: flex;
        min-width: fit-content;
        flex: 1;
    }
</style>
