---
import Button from '@/components/Button.astro';

const cvDownloadPath = "/cv.pdf";
---

<div class="toolbox no-print">
    <a href={ cvDownloadPath } download>
        <Button icon='mdi:download' large>
            Скачать
        </Button>
    </a>
    <Button icon='mdi:printer' large onclick="window.print()">
        Печатать
    </Button>
    <Button id="share" icon='mdi:share' large>
        Поделиться
    </Button>
</div>

<script define:vars={{ cvDownloadPath }}>
const shareButton = document.querySelector("#share");
shareButton.addEventListener("click", share);

function share() {
    navigator.share({
        url: cvDownloadPath,
        title: 'Резюме',
        text: 'Егоров Павел, frontend разработчик',
    });
}
</script>

<style>
.toolbox {
    padding-block: 1em;

    display: flex;
    gap: 0.5em;
}

a {
    display: flex;
    flex: 1;
}

[data-icon] {
    font-size: 2em;
}
</style>

