---
import Button from "@/components/Button.astro";
---

<div class="controls">
    <Button icon="mdi:theme-light-dark" secondary onclick="toggleTheme()"> Тема </Button>
    <!-- <Button id="language" icon="mdi:language" disabled secondary> -->
    <!--     Язык -->
    <!-- </Button> -->
</div>

<style>
    .controls {
        font-size: medium;

        display: flex;
        column-gap: 0.5em;
    }
</style>
