---
import { Icon } from 'astro-icon/components';
import Button from '@/components/Button.astro';
---

<div class="controls">
    <Button
        secondary
        onclick="toggleTheme()"
    >
        <Icon name="mdi:theme-light-dark" aria-hidden="true" />
        Тема
    </Button>
    <Button id="language" disabled secondary>
        <Icon name="mdi:language" aria-hidden="true" />
        Язык
    </Button>
</div>

<style>
.controls {
    font-size: medium;

    display: flex;
    column-gap: 0.5em;
}
</style>

