---
import NavBar from "./NavBar.astro";
import ToolBox from "./ToolBox.astro";
import { meta } from '@/content/meta.ts';
---

<header class="no-print">
    <div class="identity">
        <!-- <div class="logo"></div> -->
        <p>{ meta.title }</p>
    </div>
    <NavBar />
    <ToolBox />
</header>

<style>
header {
    width: var(--header-footer-size);

    padding: 1rem;

    position: sticky;
    top: 0;

    font-size: 1.3em;

    display: flex;
    gap: 1rem;

    background-color: var(--bg-color);
    border-bottom: 1px solid var(--secondary-color);
}
</style>

