---
import { meta } from "@/content/meta.ts";
---

<a class="primary-link" href="/">
    {meta.title}
</a>

<style>
    a {
        margin-right: auto;
        font-family: var(--font-serif);
        font-size: 1.25em;
        font-weight: 900;
    }
</style>
