---
import { meta } from "@/content/meta.ts";
---

<a href="/">
    {meta.title}
</a>

<style>
    a {
        margin-right: auto;
        color: var(--primary-color);
        font-family: var(--font-serif);
        font-size: 1.25em;
        font-weight: 900;
    }
</style>
