---
import { meta } from "@/content/meta.ts";
---

<a href="/">
    <!-- <div class="logo"></div> -->
    <span>{meta.title}</span>
</a>

<style>
    a {
        margin-right: auto;
        color: inherit;
    }
</style>
