---
import { Icon } from 'astro-icon/components';
import Button from '@/components/Button.astro';
---

<div class="toolbox">
    <Button
        type="button"
        secondary
        onclick="toggleTheme()"
    >
        <Icon name="mdi:theme-light-dark" />
        <span>Тема</span>
    </Button>
    <Button id="language" disabled secondary>
        <Icon name="mdi:language" />
        <span>Язык</span>
    </Button>
</div>

<style>
.toolbox {
    font-size: medium;

    display: flex;
    column-gap: 0.5em;
}
</style>

