---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="Страница не найдена" description="Страница не найдена">
    <main>
        <h1>Страница не найдена</h1>
        <p>Ничего нет... Вернуться <a href="/">домой</a></p>
        <Icon name="noto-v1:weary-cat" aria-hidden="true" />
    </main>
</BaseLayout>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    [data-icon] {
        font-size: 5em;
    }
</style>
