---
import PageLayout from "@/layouts/PageLayout.astro";
import { meta } from "@/content/meta.ts";
import ContactInfo from "@/components/cv/ContactInfo.astro";
import { Content as AboutContent } from "@/content/cv/about.md";
import JobsInfo from "@/components/cv/JobsInfo.astro";
import EducationInfo from "@/components/cv/EducationInfo.astro";
import { Content as SkillsContent } from "@/content/cv/skills.md";
import ToolBox from "@/components/cv/ToolBox.astro";
---

<PageLayout pageTitle='Резюме'>
    <hgroup>
        <h1>{ meta.cvName }</h1>
        <p>{ meta.cvPosition }</p>
    </hgroup>

    <ContactInfo />

    <h2>Кратко обо мне</h2>

    <AboutContent />

    <JobsInfo />

    <EducationInfo />

    <h2>Навыки</h2>

    <SkillsContent />
    
    <ToolBox />
</PageLayout>

<style>
hgroup {
    text-align: center;
    line-height: 1.25;

    margin-block: 5vmin 1em;
    @media print {
        margin-block: 1em;
    }

    text-decoration: none;
}

:global(h2) {
    display: flex;
    gap: 0.5em;
    align-items: baseline;
}

:global(h2)::after {
    content: "";

    display: block;
    flex: 1;

    width: 100%;
    height: 1px;

    background-color: var(--secondary-color);
    @media print {
        print-color-adjust: exact;
    }
}
</style>

