---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ContactInfo from "@/components/cv/ContactInfo.astro";
import JobsInfo from "@/components/cv/JobsInfo.astro";
import EducationInfo from "@/components/cv/EducationInfo.astro";
---

<BaseLayout title='Резюме'>
    <main>
        <header>
            <h1>Егоров Павел Владимирович</h1>
            <p>Frontend Developer</p>
        </header>

        <ContactInfo />

        <h2>Кратко обо мне</h2>

        <p>
            Суммарный опыт работы больше 3 лет.
            По рабочим задачам использовал VueJS, изучал React вне работы.
            Разбираюсь в Python и могу поднять фронтенд в Docker контейнере с Nginx.
            Работал как единственным фронтендером в команде, так и с коллегами.
            Периодически участвую в соревнованиях по информационной безопасности формата CTF.
            В свободное время пробую администрировать homelab сервер через Ansible.
        </p>

        <JobsInfo />

        <EducationInfo />

        <h2>Навыки</h2>

        <p>Языки программирования и разметки: JavaScript/Typescript, Python, HTML, CSS/SCSS, немного Java и Go</p>
        <p>Фреймворки и библиотеки: VueJS, Vuex, Pinia, React, Module Federation, NodeJS</p>
        <p>Инструменты: Git, ESlint, Webpack, Vite, Docker, Nginx</p>
    </main>
</BaseLayout>

<style>
main {
    max-width: 50em;
    margin: auto;
    padding: clamp(0.3em, 3vw, 2.5em);
    border: 1px solid black;

    font-family: var(--font-alegreya-sans), serif;
    font-size: 13pt;
}

header {
    text-align: center;
    line-height: 1.25;
    margin: 1em;
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

header > p {
    font-size: 1.5em;
}

:global(h2) {
    font-size: 1.2em;
    margin-top: 0.5em;

    display: flex;
    gap: 0.5em;
    align-items: baseline;
}

:global(h2)::after {
    content: "";

    display: block;
    flex: 1;

    width: 100%;
    height: 1px;

    background-color: black;
}

:global(h3) {
    font-variant: small-caps;
    letter-spacing: 0.04em;
    font-feature-settings: "kern";
    text-rendering: optimizeLegibility;
}
</style>
