---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ContactInfo from "@/components/cv/ContactInfo.astro";
import JobsInfo from "@/components/cv/JobsInfo.astro";
import EducationInfo from "@/components/cv/EducationInfo.astro";
---

<BaseLayout title='Резюме'>
    <main>
        <header>
            <h1>Егоров Павел Владимирович</h1>
            <p>Frontend Developer</p>
        </header>

        <ContactInfo />

        <h2>Кратко обо мне</h2>

        <p>
            Суммарный опыт работы больше 3 лет.
            По рабочим задачам использовал VueJS, изучал React вне работы.
            Разбираюсь в Python и могу поднять фронтенд в Docker контейнере с Nginx.
            Работал как единственным фронтендером в команде, так и с коллегами.
            Периодически участвую в соревнованиях по информационной безопасности формата CTF.
            В свободное время пробую администрировать homelab сервер через Ansible.
        </p>

        <JobsInfo />

        <EducationInfo />

        <h2>Навыки</h2>

        <p>Языки программирования и разметки: JavaScript/Typescript, Python, HTML, CSS/SCSS, немного Java и Go</p>
        <p>Фреймворки и библиотеки: VueJS, Vuex, Pinia, React, Module Federation, NodeJS</p>
        <p>Инструменты: Git, ESlint, Webpack, Vite, Docker, Nginx</p>
    </main>
</BaseLayout>
