---
import PageLayout from "@/layouts/PageLayout.astro";
import ContactInfo from "@/components/cv/ContactInfo.astro";
import JobsInfo from "@/components/cv/JobsInfo.astro";
import EducationInfo from "@/components/cv/EducationInfo.astro";
import ToolBox from "@/components/cv/ToolBox.astro";
---

<PageLayout title='Резюме'>
    <header>
        <h1>Егоров Павел Владимирович</h1>
        <p>Frontend Developer</p>
    </header>

    <ContactInfo />

    <h2>Кратко обо мне</h2>

    <p>
        Суммарный опыт работы больше 3 лет.
        По рабочим задачам использовал VueJS, изучал React вне работы.
        Разбираюсь в Python и могу поднять фронтенд в Docker контейнере с Nginx.
        Работал как единственным фронтендером в команде, так и с коллегами.
        Периодически участвую в соревнованиях по информационной безопасности формата CTF.
        В свободное время администрирую homelab сервер через Ansible.
    </p>

    <JobsInfo />

    <EducationInfo />

    <h2>Навыки</h2>

    <p>Языки программирования и разметки: JavaScript/Typescript, Python, HTML, CSS/SCSS, немного Java и Go</p>
    <p>Фреймворки и библиотеки: VueJS, Vuex, Pinia, React, Module Federation, NodeJS</p>
    <p>Инструменты: Git, ESlint, Webpack, Vite, Docker, Nginx</p>
    
    <ToolBox />
</PageLayout>

<style>
header {
    text-align: center;
    line-height: 1.25;

    margin-block: 5vmin 1em;
    @media print {
        margin-block: 1em;
    }

    text-decoration: none;
}

:global(h2) {
    display: flex;
    gap: 0.5em;
    align-items: baseline;
}

:global(h2)::after {
    content: "";

    display: block;
    flex: 1;

    width: 100%;
    height: 1px;

    background-color: var(--secondary-color);
    @media print {
        print-color-adjust: exact;
    }
}
</style>

