---
import PageLayout from "@/layouts/PageLayout.astro";
import CatButton from "@/components/CatButton.astro";
---

<PageLayout title="Главная" description="Главная страница моего сайта">
    <div class="greeter">
        <div class="greeter-text">
            <h1>Добро пожаловать</h1>
            <p>
                Еще один персональный сайт на просторах интернета. Сейчас тут довольно пусто, пока
                что можно почитать больше <a href="/about">обо мне (для людей)</a> или <a href="/cv"
                    >мое резюме (для hr'ов)</a
                >.
            </p>
        </div>
        <div class="greeter-img">
            <CatButton iconName="noto-v1:cat" />
        </div>
    </div>
    <p>
        У меня есть несколько идей для текстов (надеюсь, я доберусь до этого). И надо будет доделать
        некоторые технические моменты, например, добавить перевод на английский. Так что можно
        сказать, сайт пока в <em>раннем доступе</em>.
    </p>
</PageLayout>

<style>
    .greeter {
        display: flex;
        flex-wrap: wrap;
    }

    .greeter-text {
        min-width: 20em;
        flex: 1;
        align-items: center;
        margin-block: auto;
    }

    .greeter-img {
        min-width: var(--cat-size);
        flex: 0;
        align-content: center;
        margin: 2em auto;
    }
</style>
