---
import PostLayout from "@/layouts/PostLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);
post.data = { ...post.data, ...remarkPluginFrontmatter };
---

<PostLayout title={post.data.title} description={post.data.description}>
    <h1>{post.data.title}</h1>
    <Content />
</PostLayout>
