---
import PostLayout from "@/layouts/PostLayout.astro";
import { getCollection, render } from "astro:content";
import DateTime from "@/components/DateTime.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);
post.data = { ...post.data, ...remarkPluginFrontmatter };
---

<PostLayout title={post.data.title} description={post.data.description}>
    <div class="metadata">
        <div class="dates">
            {
                post.data.createdDate && (
                    <p>
                        Опубликовано <DateTime timestamp={post.data.createdDate} locale="ru-RU" />
                    </p>
                )
            }
            {
                post.data.updatedDate && (
                    <p>
                        Изменено <DateTime timestamp={post.data.updatedDate} locale="ru-RU" />
                    </p>
                )
            }
        </div>
    </div>
    <Content />
</PostLayout>

<style>
    .metadata {
        margin-bottom: var(--space-lg);
        color: var(--secondary-color);
        font-size: smaller;

        .dates {
            text-align: right;
        }

        p:not(:first-child) {
            margin-top: var(--space-xs);
        }
    }
</style>
