---
import BaseLink from './BaseLink.astro';
import { meta } from '@/content/meta.ts';
---

<ul>
    { meta.social.map((social) =>
        <li>
            <BaseLink
                icon={ social.icon }
                url={ social.link }
                label={ social.label }
            />
        </li>)
    }
</ul>

<style>
ul {
    list-style: none;
    display: flex;
    gap: 0.5em;
}
</style>
