---
import BaseLink from "./BaseLink.astro";
import { meta } from "@/content/meta.ts";
---

<nav aria-label="Social links">
    <ul>
        {
            meta.social.map((social) => (
                <li>
                    <BaseLink icon={social.icon} url={social.link} label={social.label} />
                </li>
            ))
        }
    </ul>
</nav>

<style>
    ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0.5em;
        gap: 0.5em;
        list-style: none;
    }
</style>
