---
import { Icon } from "astro-icon/components";

interface Props {
    color?: string;
    icon?: string;
    iconColor?: string;
    iconFontColor?: string;
}

const { icon, color, iconColor, iconFontColor } = Astro.props;
---

<div class="badge">
    {
        icon && (
            <div class="icon">
                <Icon name={icon} />
            </div>
        )
    }
    <div class="content">
        <slot />
    </div>
</div>

<style
    define:vars={{
        color,
        "icon-color": iconColor,
        "icon-font-color": iconFontColor,
    }}
>
    .badge {
        display: inline-flex;
        align-items: center;
        border-radius: 1lh;
        background-color: var(--color);

        @media print {
            border: 1px solid var(--secondary-color);
            background-color: inherit;
        }
    }

    .icon {
        padding: 0.25em;
        padding: var(--space-sm);
        border-radius: 1lh;
        background-color: var(--icon-color);

        [data-icon] {
            color: var(--icon-font-color);
        }

        @media print {
            padding: 0 var(--space-xs);
            background-color: inherit;

            [data-icon] {
                color: var(--primary-color);
            }
        }
    }

    .content:first-child {
        padding-inline: var(--space-sm);
    }

    .content:not(:first-child) {
        padding-inline: var(--space-xs) var(--space-sm);
    }
</style>
