---
import { execSync } from 'child_process';
import { version } from 'package.json';

const gitlog = execSync('git log -1 --format=%ci').toString();
const lastCommitTimestamp = new Date(gitlog);
---

<footer class="no-print">
    <address>
        <a href="mailto:contact@pavelegorov.xyz">contact@pavelegorov.xyz</a>
    </address>
    <p class="update">
        <span>
            Последнее обновление:
            <time datetime={ lastCommitTimestamp.toString() }>
                { lastCommitTimestamp.toLocaleDateString('ru-RU', {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                }) }
            </time>
        </span>
        <span>v{ version }</span>
    </p>
</footer>

<style>
footer {
    width: var(--header-footer-size);

    margin-top: auto;
    padding: var(--header-footer-padding);

    flex-grow: 0;
    flex-shrink: 0;

    background:
        linear-gradient(var(--bg-color), var(--bg-color)) padding-box,
        var(--lingradient) border-box;
    border-top: 3px solid transparent;

    display: flex;
}

address {
    font-style: normal;
    margin-right: auto;
}

.update {
    font-size: 0.9em;
    color: var(--secondary-color);

    span {
        margin-left: 1em;
    }
}
</style>

