---
import LinkCluster from "@/components/SocialLink/LinkCluster.astro";
import DateSpan from "@/components/DateSpan.astro";
import { toRoman } from "@/utils/roman.ts";
import { getCollection } from "astro:content";

const gitlog = (await getCollection("gitlog")).sort(
    (a, b) => b.data.commitDate - a.data.commitDate,
);
const firstCommit = gitlog.at(-1);
const lastCommit = gitlog.at(0);
---

<footer class="no-print">
    <LinkCluster />
    <p>
        <span> Pavel Egorov </span>&emsp;<DateSpan
            start={firstCommit.data.commitDate}
            end={lastCommit.data.commitDate}
            locale="ru-RU"
            dateOptions={{
                year: "numeric",
            }}
        />&emsp;<span>
            <a href="/changelog">{lastCommit.data.hash.slice(0, 7)}</a>
        </span>&emsp;<span><a href="/licensed-content">Licensed content</a></span>
    </p>
    <p class="roman">
        {toRoman(new Date(firstCommit.data.commitDate).getFullYear())}
    </p>
</footer>

<style>
    footer {
        display: grid;
        width: var(--header-footer-size);
        border-top: 3px solid transparent;
        margin-top: auto;
        background:
            linear-gradient(var(--bg-color), var(--bg-color)) padding-box,
            var(--lingradient) border-box;
        column-gap: var(--grid-column-gap);
        grid-auto-rows: min-content;
        grid-template-columns: var(--grid-template-columns);
        padding-block: var(--header-footer-padding);
    }

    :global(footer > *) {
        grid-column: content;
        text-align: center;
    }

    .roman {
        color: var(--secondary-color);
        font-family: var(--font-serif-roman);
        font-feature-settings: "ss01";
        padding-block: 1em;
        transform: scaleY(1.25);
    }
</style>
