---
import NavBar from "./NavBar.astro";
---

<header class="no-print">
    <p>title</p>
    <NavBar />
</header>

<style>
header {
    width: 100%;

    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;

    background-color: var(--bg-color);
    border-bottom: 1px solid var(--secondary-color);
}
</style>

