---
import { Icon } from 'astro-icon/components';
import { meta } from '@/content/meta.ts';
---

<nav>
    <ul>
        { meta.menu.map((menuItem) =>
        <li>
            <a href={ menuItem.path }>
                { menuItem.icon && <Icon name={ menuItem.icon }/> }
                { menuItem.value }
            </a>
        </li>) }
    </ul>
</nav>

<style>
ul {
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 1em;
}

a {
    font-weight: bold;
    color: var(--primary-color);

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 0.5em;
}
</style>
