:root {
    --bg-color: oklch(0.28 0.01 285);

    --text-color: oklch(1 0 0);
    --text-secondary: oklch(from var(--text-color) calc(l * 0.7) c h);
    --text-accent: oklch(0.7 0.1337 285);

    --link-color: oklch(0.8 0.095 230);
}

