a {
    text-decoration: none;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: oklch(from var(--link-color) 80% c calc(h + 50))
}

a:focus {
    color: oklch(from var(--link-color) 110% c h);
    outline: 1px solid;
    border-radius: 0.1em;
}

a:hover {
    color: oklch(from var(--link-color) 110% c h);
}

a:active {
    color: oklch(from var(--link-color) l c calc(h + 100))
}

