---
import { Font } from 'astro:assets';
import '@/css/main.css';

interface Props {
    title: string,
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <Font cssVariable='--font-serif' preload />
        <Font cssVariable='--font-sans-serif' preload />
        <Font cssVariable='--font-monospace' />
        <title>{ title }</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
html, body {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
}
</style>

