---
import { Font } from 'astro:assets';
import ThemeLoader from '@/components/ThemeLoader.astro';
import Css from '@/components/css/index.astro';

interface Props {
    pageTitle: string,
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="auto">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="color-scheme" content="dark light" />
        <Font cssVariable='--font-serif' preload />
        <Font cssVariable='--font-sans-serif' preload />
        <Font cssVariable='--font-monospace' />
        <title>{ pageTitle }</title>
        <ThemeLoader />
        <Css />
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
html {
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>

