---
import BaseLayout from "./BaseLayout.astro"
import HeaderBar from '@/components/HeaderBar.astro'
import FooterBar from "@/components/FooterBar.astro"

interface Props {
    title: string,
}

const { title } = Astro.props;
---

<BaseLayout title={ title }>
    <HeaderBar />
    <main>
        <slot />
    </main>
    <FooterBar />
</BaseLayout>

<style>
main {
    flex-grow: 1;
}
</style>

