---
import BaseLayout from "./BaseLayout.astro"
import HeaderBar from '@/components/HeaderBar.astro'
import FooterBar from "@/components/FooterBar.astro"

interface Props {
    title: string,
}

const { title } = Astro.props;
---

<BaseLayout title={ title }>
    <HeaderBar />
    <main>
        <slot />
    </main>
    <FooterBar />
</BaseLayout>

<style>
main {
    --content-col: min(var(--content-width), 100%);
    --wide-content-col: minmax(0, var(--content-width-diff));

    flex-grow: 1;

    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns:
        [fullwidth-start]
        1fr
        [wide-content-start] var(--wide-content-col)
        [content-start] var(--content-col) [content-end]
        var(--wide-content-col) [wide-content-end]
        1fr
        [fullwidth-end];

    margin-block: var(--main-content-block-margin);
}

:global(main > *) {
    grid-column: content;
}
</style>

