---
import BaseLayout from "./BaseLayout.astro"
import HeaderBar from '@/components/HeaderBar/HeaderBar.astro'
import FooterBar from "@/components/FooterBar.astro"
import type { Props as OpenGraphProps } from '@/components/seo/OpenGraph.astro';

interface Props {
    title: string,
    description: string,
    openGraph?: OpenGraphProps,
}

const props = Astro.props;
---

<BaseLayout { ...props }>
    <HeaderBar />
    <main id="main">
        <slot />
    </main>
    <FooterBar />
</BaseLayout>

<style>
main {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: var(--grid-template-columns);
    column-gap: var(--grid-column-gap);

    margin-block: var(--main-content-block-margin);
    scroll-margin-top: var(--main-content-block-margin);
}

:global(main > *) {
    grid-column: content;
}

:global(main > .wide-content) {
    grid-column: wide-content;
}

:global(main > .fullwidth) {
    grid-column: fullwidth;
}
</style>

